{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "array-bracket-spacing": [ 2, "always", {
      "objectsInArrays": false,
      "arraysInArrays": false
    }],
    "camelcase": 2,
    "comma-dangle": [ 2, "always-multiline" ],
    "comma-spacing": [ 2, {
      "before": false,
      "after": true
    }],
    "computed-property-spacing": [ 2, "always" ],
    "eol-last": 2,
    "eqeqeq": 2,
    "indent": [ 2, 2, {
      "SwitchCase": 1
    }],
    "key-spacing": 2,
    "no-dupe-keys": 2,
    "no-irregular-whitespace": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": 2,
    "no-new": 0,
    "no-spaced-func": 2,
    "no-trailing-spaces": 2,
    "no-unused-expressions": 0,
    "object-curly-spacing": [ 2, "always", {
      "objectsInObjects": false,
      "arraysInObjects": false
    }],
    "quotes": [ 2, "single" ],
    "react/jsx-curly-spacing": [ 2, "always" ],
    "react/jsx-no-duplicate-props": 2,
    "react/jsx-sort-props": 2,
    "react/jsx-sort-prop-types": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-set-state": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/wrap-multilines": 2,
    "space-after-keywords": [ 2, "always" ],
    "space-before-blocks": [ 2, "always" ],
    "space-before-function-paren": [ 2, {
      "anonymous": "always",
      "named": "always"
    }],
    "space-in-parens": [ 2, "always", {
      "exceptions": [ "empty", "()", "{}", "[]" ]
    }],
    "space-return-throw-case": 2,
    "space-unary-ops": [ 2, {
      "words": true,
      "nonwords": false
    }],
    "strict": 0
  }
}
